*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  color-scheme: light;
}

.tabs-nav-flush > .ant-tabs-nav {
  margin-bottom: 0;
}

.tabs-nav-only > .ant-tabs-content-holder {
  display: none;
}
